.right-box form table{
	margin: 8rem auto 3rem;
}
.right-box form table tr {
	text-align: center;
	height: 3.4rem;
	line-height: 3.4rem;
}
.right-box form table tr td {
	font-size: 1.2rem;
    font-weight: 300;
    font-family: '方正中等线_GBK';
    color: rgb(65, 68, 83);
    padding-right: 1rem;
}
.right-box .btns {
    text-align: center;
}
