<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tata.singleentry.dao.SingleentryVOMapper" >
  <resultMap id="BaseResultMap" type="com.tata.singleentry.domain.SingleentryVO" >
    <id column="singleentryid" property="singleentryid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="competitionid" property="competitionid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    singleentryid, userid, competitionid, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tata.singleentry.domain.SingleentryVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from singleentry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from singleentry
    where singleentryid = #{singleentryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from singleentry
    where singleentryid = #{singleentryid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tata.singleentry.domain.SingleentryVOExample" >
    delete from singleentry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tata.singleentry.domain.SingleentryVO" useGeneratedKeys="true" keyProperty="id" >
    insert into singleentry (singleentryid, userid, competitionid, 
      createtime)
    values (#{singleentryid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{competitionid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tata.singleentry.domain.SingleentryVO" useGeneratedKeys="true" keyProperty="id" >
    insert into singleentry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="singleentryid != null" >
        singleentryid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="competitionid != null" >
        competitionid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="singleentryid != null" >
        #{singleentryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="competitionid != null" >
        #{competitionid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tata.singleentry.domain.SingleentryVOExample" resultType="java.lang.Integer" >
    select count(*) from singleentry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update singleentry
    <set >
      <if test="record.singleentryid != null" >
        singleentryid = #{record.singleentryid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.competitionid != null" >
        competitionid = #{record.competitionid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update singleentry
    set singleentryid = #{record.singleentryid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      competitionid = #{record.competitionid,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tata.singleentry.domain.SingleentryVO" >
    update singleentry
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="competitionid != null" >
        competitionid = #{competitionid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where singleentryid = #{singleentryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tata.singleentry.domain.SingleentryVO" >
    update singleentry
    set userid = #{userid,jdbcType=INTEGER},
      competitionid = #{competitionid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where singleentryid = #{singleentryid,jdbcType=INTEGER}
  </update>
</mapper>