<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tata.manager.dao.ManagerVOMapper" >
  <resultMap id="BaseResultMap" type="com.tata.manager.domain.ManagerVO" >
    <id column="managerid" property="managerid" jdbcType="INTEGER" />
    <result column="manageraccount" property="manageraccount" jdbcType="VARCHAR" />
    <result column="managerpassword" property="managerpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    managerid, manageraccount, managerpassword
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tata.manager.domain.ManagerVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manager
    where managerid = #{managerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manager
    where managerid = #{managerid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tata.manager.domain.ManagerVOExample" >
    delete from manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tata.manager.domain.ManagerVO" useGeneratedKeys="true" keyProperty="id" >
    insert into manager (managerid, manageraccount, managerpassword
      )
    values (#{managerid,jdbcType=INTEGER}, #{manageraccount,jdbcType=VARCHAR}, #{managerpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tata.manager.domain.ManagerVO" useGeneratedKeys="true" keyProperty="id" >
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        managerid,
      </if>
      <if test="manageraccount != null" >
        manageraccount,
      </if>
      <if test="managerpassword != null" >
        managerpassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        #{managerid,jdbcType=INTEGER},
      </if>
      <if test="manageraccount != null" >
        #{manageraccount,jdbcType=VARCHAR},
      </if>
      <if test="managerpassword != null" >
        #{managerpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tata.manager.domain.ManagerVOExample" resultType="java.lang.Integer" >
    select count(*) from manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update manager
    <set >
      <if test="record.managerid != null" >
        managerid = #{record.managerid,jdbcType=INTEGER},
      </if>
      <if test="record.manageraccount != null" >
        manageraccount = #{record.manageraccount,jdbcType=VARCHAR},
      </if>
      <if test="record.managerpassword != null" >
        managerpassword = #{record.managerpassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update manager
    set managerid = #{record.managerid,jdbcType=INTEGER},
      manageraccount = #{record.manageraccount,jdbcType=VARCHAR},
      managerpassword = #{record.managerpassword,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tata.manager.domain.ManagerVO" >
    update manager
    <set >
      <if test="manageraccount != null" >
        manageraccount = #{manageraccount,jdbcType=VARCHAR},
      </if>
      <if test="managerpassword != null" >
        managerpassword = #{managerpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where managerid = #{managerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tata.manager.domain.ManagerVO" >
    update manager
    set manageraccount = #{manageraccount,jdbcType=VARCHAR},
      managerpassword = #{managerpassword,jdbcType=VARCHAR}
    where managerid = #{managerid,jdbcType=INTEGER}
  </update>
</mapper>