<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tata.user.dao.UserVOMapper" >
  <resultMap id="BaseResultMap" type="com.tata.user.domain.UserVO" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="usermail" property="usermail" jdbcType="VARCHAR" />
    <result column="userpassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="usertruename" property="usertruename" jdbcType="VARCHAR" />
    <result column="userpinyin" property="userpinyin" jdbcType="VARCHAR" />
    <result column="userschool" property="userschool" jdbcType="VARCHAR" />
    <result column="userdepartment" property="userdepartment" jdbcType="VARCHAR" />
    <result column="usermajor" property="usermajor" jdbcType="VARCHAR" />
    <result column="usergrade" property="usergrade" jdbcType="VARCHAR" />
    <result column="userstudentnumber" property="userstudentnumber" jdbcType="VARCHAR" />
    <result column="usersex" property="usersex" jdbcType="VARCHAR" />
    <result column="usertel" property="usertel" jdbcType="VARCHAR" />
    <result column="userheadimg" property="userheadimg" jdbcType="VARCHAR" />
    <result column="userproperty" property="userproperty" jdbcType="VARCHAR" />
    <result column="userintroduce" property="userintroduce" jdbcType="VARCHAR" />
    <result column="userisin" property="userisin" jdbcType="INTEGER" />
    <result column="userprize" property="userprize" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userid, usermail, userpassword, usertruename, userpinyin, userschool, userdepartment, 
    usermajor, usergrade, userstudentnumber, usersex, usertel, userheadimg, userproperty, 
    userintroduce, userisin, userprize, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tata.user.domain.UserVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tata.user.domain.UserVOExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tata.user.domain.UserVO" useGeneratedKeys="true" keyProperty="id" >
    insert into user (userid, usermail, userpassword, 
      usertruename, userpinyin, userschool, 
      userdepartment, usermajor, usergrade, 
      userstudentnumber, usersex, usertel, 
      userheadimg, userproperty, userintroduce, 
      userisin, userprize, createtime
      )
    values (#{userid,jdbcType=INTEGER}, #{usermail,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR}, 
      #{usertruename,jdbcType=VARCHAR}, #{userpinyin,jdbcType=VARCHAR}, #{userschool,jdbcType=VARCHAR}, 
      #{userdepartment,jdbcType=VARCHAR}, #{usermajor,jdbcType=VARCHAR}, #{usergrade,jdbcType=VARCHAR}, 
      #{userstudentnumber,jdbcType=VARCHAR}, #{usersex,jdbcType=VARCHAR}, #{usertel,jdbcType=VARCHAR}, 
      #{userheadimg,jdbcType=VARCHAR}, #{userproperty,jdbcType=VARCHAR}, #{userintroduce,jdbcType=VARCHAR}, 
      #{userisin,jdbcType=INTEGER}, #{userprize,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tata.user.domain.UserVO" useGeneratedKeys="true" keyProperty="id" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="usermail != null" >
        usermail,
      </if>
      <if test="userpassword != null" >
        userpassword,
      </if>
      <if test="usertruename != null" >
        usertruename,
      </if>
      <if test="userpinyin != null" >
        userpinyin,
      </if>
      <if test="userschool != null" >
        userschool,
      </if>
      <if test="userdepartment != null" >
        userdepartment,
      </if>
      <if test="usermajor != null" >
        usermajor,
      </if>
      <if test="usergrade != null" >
        usergrade,
      </if>
      <if test="userstudentnumber != null" >
        userstudentnumber,
      </if>
      <if test="usersex != null" >
        usersex,
      </if>
      <if test="usertel != null" >
        usertel,
      </if>
      <if test="userheadimg != null" >
        userheadimg,
      </if>
      <if test="userproperty != null" >
        userproperty,
      </if>
      <if test="userintroduce != null" >
        userintroduce,
      </if>
      <if test="userisin != null" >
        userisin,
      </if>
      <if test="userprize != null" >
        userprize,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="usermail != null" >
        #{usermail,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="usertruename != null" >
        #{usertruename,jdbcType=VARCHAR},
      </if>
      <if test="userpinyin != null" >
        #{userpinyin,jdbcType=VARCHAR},
      </if>
      <if test="userschool != null" >
        #{userschool,jdbcType=VARCHAR},
      </if>
      <if test="userdepartment != null" >
        #{userdepartment,jdbcType=VARCHAR},
      </if>
      <if test="usermajor != null" >
        #{usermajor,jdbcType=VARCHAR},
      </if>
      <if test="usergrade != null" >
        #{usergrade,jdbcType=VARCHAR},
      </if>
      <if test="userstudentnumber != null" >
        #{userstudentnumber,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="usertel != null" >
        #{usertel,jdbcType=VARCHAR},
      </if>
      <if test="userheadimg != null" >
        #{userheadimg,jdbcType=VARCHAR},
      </if>
      <if test="userproperty != null" >
        #{userproperty,jdbcType=VARCHAR},
      </if>
      <if test="userintroduce != null" >
        #{userintroduce,jdbcType=VARCHAR},
      </if>
      <if test="userisin != null" >
        #{userisin,jdbcType=INTEGER},
      </if>
      <if test="userprize != null" >
        #{userprize,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tata.user.domain.UserVOExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.usermail != null" >
        usermail = #{record.usermail,jdbcType=VARCHAR},
      </if>
      <if test="record.userpassword != null" >
        userpassword = #{record.userpassword,jdbcType=VARCHAR},
      </if>
      <if test="record.usertruename != null" >
        usertruename = #{record.usertruename,jdbcType=VARCHAR},
      </if>
      <if test="record.userpinyin != null" >
        userpinyin = #{record.userpinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.userschool != null" >
        userschool = #{record.userschool,jdbcType=VARCHAR},
      </if>
      <if test="record.userdepartment != null" >
        userdepartment = #{record.userdepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.usermajor != null" >
        usermajor = #{record.usermajor,jdbcType=VARCHAR},
      </if>
      <if test="record.usergrade != null" >
        usergrade = #{record.usergrade,jdbcType=VARCHAR},
      </if>
      <if test="record.userstudentnumber != null" >
        userstudentnumber = #{record.userstudentnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.usersex != null" >
        usersex = #{record.usersex,jdbcType=VARCHAR},
      </if>
      <if test="record.usertel != null" >
        usertel = #{record.usertel,jdbcType=VARCHAR},
      </if>
      <if test="record.userheadimg != null" >
        userheadimg = #{record.userheadimg,jdbcType=VARCHAR},
      </if>
      <if test="record.userproperty != null" >
        userproperty = #{record.userproperty,jdbcType=VARCHAR},
      </if>
      <if test="record.userintroduce != null" >
        userintroduce = #{record.userintroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.userisin != null" >
        userisin = #{record.userisin,jdbcType=INTEGER},
      </if>
      <if test="record.userprize != null" >
        userprize = #{record.userprize,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set userid = #{record.userid,jdbcType=INTEGER},
      usermail = #{record.usermail,jdbcType=VARCHAR},
      userpassword = #{record.userpassword,jdbcType=VARCHAR},
      usertruename = #{record.usertruename,jdbcType=VARCHAR},
      userpinyin = #{record.userpinyin,jdbcType=VARCHAR},
      userschool = #{record.userschool,jdbcType=VARCHAR},
      userdepartment = #{record.userdepartment,jdbcType=VARCHAR},
      usermajor = #{record.usermajor,jdbcType=VARCHAR},
      usergrade = #{record.usergrade,jdbcType=VARCHAR},
      userstudentnumber = #{record.userstudentnumber,jdbcType=VARCHAR},
      usersex = #{record.usersex,jdbcType=VARCHAR},
      usertel = #{record.usertel,jdbcType=VARCHAR},
      userheadimg = #{record.userheadimg,jdbcType=VARCHAR},
      userproperty = #{record.userproperty,jdbcType=VARCHAR},
      userintroduce = #{record.userintroduce,jdbcType=VARCHAR},
      userisin = #{record.userisin,jdbcType=INTEGER},
      userprize = #{record.userprize,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tata.user.domain.UserVO" >
    update user
    <set >
      <if test="usermail != null" >
        usermail = #{usermail,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        userpassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="usertruename != null" >
        usertruename = #{usertruename,jdbcType=VARCHAR},
      </if>
      <if test="userpinyin != null" >
        userpinyin = #{userpinyin,jdbcType=VARCHAR},
      </if>
      <if test="userschool != null" >
        userschool = #{userschool,jdbcType=VARCHAR},
      </if>
      <if test="userdepartment != null" >
        userdepartment = #{userdepartment,jdbcType=VARCHAR},
      </if>
      <if test="usermajor != null" >
        usermajor = #{usermajor,jdbcType=VARCHAR},
      </if>
      <if test="usergrade != null" >
        usergrade = #{usergrade,jdbcType=VARCHAR},
      </if>
      <if test="userstudentnumber != null" >
        userstudentnumber = #{userstudentnumber,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        usersex = #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="usertel != null" >
        usertel = #{usertel,jdbcType=VARCHAR},
      </if>
      <if test="userheadimg != null" >
        userheadimg = #{userheadimg,jdbcType=VARCHAR},
      </if>
      <if test="userproperty != null" >
        userproperty = #{userproperty,jdbcType=VARCHAR},
      </if>
      <if test="userintroduce != null" >
        userintroduce = #{userintroduce,jdbcType=VARCHAR},
      </if>
      <if test="userisin != null" >
        userisin = #{userisin,jdbcType=INTEGER},
      </if>
      <if test="userprize != null" >
        userprize = #{userprize,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tata.user.domain.UserVO" >
    update user
    set usermail = #{usermail,jdbcType=VARCHAR},
      userpassword = #{userpassword,jdbcType=VARCHAR},
      usertruename = #{usertruename,jdbcType=VARCHAR},
      userpinyin = #{userpinyin,jdbcType=VARCHAR},
      userschool = #{userschool,jdbcType=VARCHAR},
      userdepartment = #{userdepartment,jdbcType=VARCHAR},
      usermajor = #{usermajor,jdbcType=VARCHAR},
      usergrade = #{usergrade,jdbcType=VARCHAR},
      userstudentnumber = #{userstudentnumber,jdbcType=VARCHAR},
      usersex = #{usersex,jdbcType=VARCHAR},
      usertel = #{usertel,jdbcType=VARCHAR},
      userheadimg = #{userheadimg,jdbcType=VARCHAR},
      userproperty = #{userproperty,jdbcType=VARCHAR},
      userintroduce = #{userintroduce,jdbcType=VARCHAR},
      userisin = #{userisin,jdbcType=INTEGER},
      userprize = #{userprize,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>